{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>Agendas | Social Conclave</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preload" href="{% static 'images/sclogo.png' %}" as="image">
    <link rel="preload" href="{% static 'images/earthRing.png' %}" as="image">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" /> -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/agendas.css' %}">
    <script src="{% static 'js/modernizr.js' %}"></script>
    <script src="{% static 'js/pace.min.js' %}"></script>

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}">
    <link rel="shortcut icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}">
</head>

<body id="top">
    
    <!-- Header -->
    <header class="s-header">
        <div class="header-logo">
            <a class="site-logo" href="{% url 'main:landing-page' %}">
                <div class="headlinelogo">
                    <canvas id="headlinelogocanvas"></canvas>
                    <img class="scEarth" src="{% static 'images/earthRing.png' %}" alt="Social Impact Logo" />
                </div>
                <img class="scLogotxt" src="{% static 'images/socialconclave.png' %}" alt="Homepage">
            </a>
        </div>
        <!-- PC Nav -->
        <nav id="bigone" class="header-nav1">
            <div class="header-nav__content1">
                <ul class="header-nav__list">
                    <li><a href="{% url 'main:landing-page' %}" title="home">Home</a></li>
                    <li><a href="https://www.socialconclave.com/#about" title="about">About Us</a></li>
                    <li><a href="{% url 'core:agendas' %}" title="agendas">Agendas</a></li>
                    <li><a href="{% url 'blogs:allblog' %}" title="blogs">Blogs</a></li>
                    <li class="current"><a href="{% url 'core:overTheYears' %}" title="our team">Our Team</a></li>
                    <li><a href="https://www.socialconclave.com/#contact" title="contact">Contact Us</a></li>
                </ul>
            </div>
        </nav>
        <!-- /PC Nav -->
        <!-- Mobile Nav -->
        <nav id="smallone" class="con" style="float:right;" onclick="myFunction();">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </nav>
        <!-- /Mobile Nav -->
    </header>
    <!-- /Header -->

    <!-- Mobile Menu -->
    <div id="myNav" class="ov">
        <div class="ov-content">
            <a href="{% url 'main:landing-page' %}" title="home" onclick="myFunction();">Home</a>
            <a href="https://www.socialconclave.com/#about" title="about" onclick="myFunction();">About Us</a>
            <a href="{% url 'core:agendas' %}" title="agendas" onclick="myFunction();">Agendas</a>
            <a href="{% url 'blogs:allblog' %}" title="blogs" onclick="myFunction();">Blog</a>
            <a class="smoothscroll" href="{% url 'core:overTheYears' %}" title="our team" onclick="myFunction();">Our Team</a>
            <a class="smoothscroll" href="https://www.socialconclave.com/#contact" title="contact" onclick="myFunction();">Contact</a>
        </div>
    </div>
    <!-- /Mobile Menu -->

    <section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="{% static 'images/hero-bg.jpg' %}" data-natural-width="3000" data-natural-height="2000" data-position-y="center">
        <div class="overlay"></div>
        <div class="shadow-overlay"></div>
        <div class="home-content">
            <div class="row home-content__main">
                <h3>Welcome to Social Conclave</h3>
                <h1 style="margin-bottom:0px;">
                    We strive to spread smiles <br> and impact lives,</h1>
                <h1 style='margin-top:0px;'>
                    ONE PROBLEM AT A TIME. <br>
                </h1>
            </div>
            <div class="home-content__scroll">
                <a href="#agendas" class="scroll-link smoothscroll">
                    <span>Scroll Down</span>
                </a>
            </div>
            <div class="home-content__line"></div>
        </div>
        <ul class="home-social">
            <li>
                <a href="https://facebook.com/socialconclave"><i class="fab fa-facebook-f" aria-hidden="true"></i><span>Facebook</span></a>
            </li>
            <li>
                <a href="https://twitter.com/social_conclave"><i class="fab fa-twitter" aria-hidden="true"></i><span>Twitter</span></a>
            </li>
            <li>
                <a href="https://instagram.com/socialconclave"><i class="fab fa-instagram" aria-hidden="true"></i><span>Instagram</span></a>
            </li>
            <li>
                <a href="https://www.linkedin.com/company/socialconclave/"><i class="fab fa-linkedin-in" aria-hidden="true"></i><span>LinkedIn</span></a>
            </li>
        </ul>
    </section>

    <section id="agendas" class="s-agendas target-section" data-parallax="scroll" data-natural-width="3000" data-natural-height="2000" data-position-y="center">
        <div class="marble">
            <div class="row section-header has-bottom-sep" data-aos="fade-up">
                <div class="col-full">
                    <h1 class="display-1 agenda-head">Agendas</h1>
                    <a href="#agendas" class="scroll-link smoothscroll"></a>
                </div>
            </div>
        </div>

        <div class="section-agenda" data-aos="fade-up">
            <div class="agenda" data-aos="fade-up">
                <div class="agendaImg">
                    <img src="{% static 'images/agendas/climate.jpg' %}">
                </div>
                <div class="agendaName">
                    <h1>CLIMATE ACTION</h1>
                </div>
                <div class="agendaDscp">
                    <p>
                        Humans are in constant pursuit of improving our lives. We often fail to notice how our actions and the choices we make affect the very planet we live on. Climate change is a real threat. It is present and looms over us as a foreboding reminder of our
                        doom if we fail to take action. While the extinction of our species may seem too far-fetched a thought, callous choices and ignorance are paving the way to an onslaught of a dark future. This agenda calls for you to be a voice
                        of change by discussing methods that transcend into a better future for all.
                    </p>
                </div>
            </div>
            <div class="agenda" data-aos="fade-up">
                <div class="agendaImg">
                    <img src="{% static 'images/agendas/flow.jpg' %}">
                </div>
                <div class="agendaName">
                    <h1>FINANCIAL INDEPENDENCE OF WOMEN</h1>
                </div>
                <div class="agendaDscp">
                    <p>
                        In today’s day and age, Women are under-represented at all levels of political leadership as well as managerial positions in the professional world. This poses a big social problem where women do not have the resources to be financially independent and
                        thus feeding into the problem of gender inequality. Financially independent women create an evolved and equitable society. To shift from a chauvinistic paradigm, the barriers of discrimination need to be torn down. This agenda
                        will dive deep into the situation and try to pose solutions for these issues at their root to strengthen the futures of women and Indian families.
                    </p>
                </div>
            </div>
            <div class="agenda" data-aos="fade-up">
                <div class="agendaImg">
                    <img src="{% static 'images/agendas/riu.jpeg' %}">
                </div>
                <div class="agendaName">
                    <h1>RURAL ILLITERACY AND UNEMPLOYMENT</h1>
                </div>
                <div class="agendaDscp">
                    <p>
                        The pursuit of modernization has marginalized the weaker sections of society and has led to dwindling opportunities in terms of jobs and financial aspects. Illiteracy among the rural population contributes to the growing rate of unemployment in India,
                        which means more people left with very few opportunities to sustain themselves and their families. This continues to ingress not only the path of development but also the economic progress of India. Young passionate individuals
                        are in need to reinvigorate the flame of development, paving a path to progress, for the sake of society and for the sake of our fellow humans.
                    </p>
                </div>
            </div>
            <div class="agenda" data-aos="fade-up">
                <div class="agendaImg">
                    <img src="{% static 'images/agendas/ypsm.jpg' %}">
                </div>
                <div class="agendaName">
                    <h1>YOUTH PRIVACY AND SOCIAL MEDIA</h1>
                </div>
                <div class="agendaDscp">
                    <p>
                        Over the past few decades, the emergence of new technologies has resulted in an exponential rise in the number of active users across multiple social media platforms. Teens share a wide range of information about themselves on social media, they are exposed
                        to inappropriate content, cyber bullying and have created a false sense of reality. While social networking sites have created multiple avenues of communication, the pitfalls related to privacy breaches and cyber attacks should
                        raise serious questions. The agenda will discuss these problems focussing on the privacy and security issues that are inherent to social media.
                    </p>
                </div>
            </div>
            <div class="agenda" data-aos="fade-up">
                <div class="agendaImg">
                    <img src="{% static 'images/agendas/zerohunger.jpeg' %}">
                </div>
                <div class="agendaName">
                    <h1>ZERO HUNGER</h1>
                </div>
                <div class="agendaDscp">
                    <p>
                        While India produces enough food to feed its population, the country is home to 25 percent of the world’s starved population. A holistic approach to food security requires available, accessible and nutritious food in order to eradicate hunger and malnutrition
                        in India. This agenda will seek to discuss the high rate of malnutrition, levels of stunting and food wastage, where the goal is to end hunger, achieve food security, improve nutrition, and promote sustainable agriculture. Additionally,
                        it will dive into the economics of hunger, the costs associated with it and the lack of infrastructure in rural areas to preserve food and sustainability of agriculture.
                    </p>
                </div>
            </div>
        </div>


        <div class="agendas-content" data-aos="fade-up">
            <div class="agendasTopics">
                <div class="agendaTopic">
                    <a href="" class="topic" data-rel="agenda1">CLIMATE ACTION</a>
                </div>
                <div class="agendaTopic">
                    <a href="" class="topic" data-rel="agenda2">FINANCIAL INDEPENDENCE OF WOMEN</a>
                </div>
                <div class="agendaTopic">
                    <a href="" class="topic" data-rel="agenda3">RURAL ILLITERACY AND UNEMPLOYMENT</a>
                </div>
                <div class="agendaTopic">
                    <a href="" class="topic" data-rel="agenda4">YOUTH PRIVACY AND SOCIAL MEDIA</a>
                </div>
                <div class="agendaTopic">
                    <a href="" class="topic" data-rel="agenda5">ZERO HUNGER</a>
                </div>
            </div>
            <div class="agendasDscps" data-aos="fade-up">
                <div class="agendaDscp" id="agenda1">
                    <div class="Dscp">
                        <h1>CLIMATE ACTION</h1>
                        <hr>
                        <div class="para">
                            Humans are in constant pursuit of improving our lives. We often fail to notice how our actions and the choices we make affect the very planet we live on. Climate change is a real threat. It is present and looms over us as a foreboding reminder of our
                            doom if we fail to take action. While the extinction of our species may seem too far-fetched a thought, callous choices and ignorance are paving the way to an onslaught of a dark future. This agenda calls for you to be a voice
                            of change by discussing methods that transcend into a better future for all.
                        </div>
                    </div>
                    <img class="bg-agenda" src="{% static 'images/agendas/climate.jpg' %}">
                </div>
                <div class="agendaDscp hidden" id="agenda2">
                    <div class="Dscp">
                        <h1>FINANCIAL INDEPENDENCE OF WOMEN</h1>
                        <hr>
                        <div class="para">
                            In today’s day and age, Women are under-represented at all levels of political leadership as well as managerial positions in the professional world. This poses a big social problem where women do not have the resources to be financially independent and
                            thus feeding into the problem of gender inequality. Financially independent women create an evolved and equitable society. To shift from a chauvinistic paradigm, the barriers of discrimination need to be torn down. This agenda
                            will dive deep into the situation and try to pose solutions for these issues at their root to strengthen the futures of women and Indian families.
                        </div>
                    </div>
                    <img class="bg-agenda" src="{% static 'images/agendas/flow.jpg' %}">
                </div>
                <div class="agendaDscp hidden" id="agenda3">
                    <div class="Dscp">
                        <h1>RURAL ILLITERACY AND UNEMPLOYMENT</h1>
                        <hr>
                        <div class="para">
                            The pursuit of modernization has marginalized the weaker sections of society and has led to dwindling opportunities in terms of jobs and financial aspects. Illiteracy among the rural population contributes to the growing rate of unemployment in India,
                            which means more people left with very few opportunities to sustain themselves and their families. This continues to ingress not only the path of development but also the economic progress of India. Young passionate individuals
                            are in need to reinvigorate the flame of development, paving a path to progress, for the sake of society and for the sake of our fellow humans.
                        </div>
                    </div>
                    <img class="bg-agenda" src="{% static 'images/agendas/riu.jpeg' %}">
                </div>
                <div class="agendaDscp hidden" id="agenda4">
                    <div class="Dscp">
                        <h1>YOUTH PRIVACY AND SOCIAL MEDIA</h1>
                        <hr>
                        <div class="para">
                            Over the past few decades, the emergence of new technologies has resulted in an exponential rise in the number of active users across multiple social media platforms. Teens share a wide range of information about themselves on social media, they are exposed
                            to inappropriate content, cyber bullying and have created a false sense of reality. While social networking sites have created multiple avenues of communication, the pitfalls related to privacy breaches and cyber attacks should
                            raise serious questions. The agenda will discuss these problems focussing on the privacy and security issues that are inherent to social media.
                        </div>
                    </div>
                    <img class="bg-agenda" src="{% static 'images/agendas/ypsm.jpg' %}">
                </div>
                <div class="agendaDscp hidden" id="agenda5">
                    <div class="Dscp">
                        <h1>ZERO HUNGER</h1>
                        <hr>
                        <div class="para">
                            While India produces enough food to feed its population, the country is home to 25 percent of the world’s starved population. A holistic approach to food security requires available, accessible and nutritious food in order to eradicate hunger and malnutrition
                            in India. This agenda will seek to discuss the high rate of malnutrition, levels of stunting and food wastage, where the goal is to end hunger, achieve food security, improve nutrition, and promote sustainable agriculture.
                            Additionally, it will dive into the economics of hunger, the costs associated with it and the lack of infrastructure in rural areas to preserve food and sustainability of agriculture.
                        </div>
                    </div>
                    <img class="bg-agenda" src="{% static 'images/agendas/zerohunger.jpeg' %}">
                </div>
            </div>
        </div>

        <div class="marble marble-foot"></div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="row footer-main">
            <div class="col-four tab-full left footer-subscribe">
                <h4>Let's talk about</h4>
                <p>Got an inquiry? Feel free to reach out to us! We're happy to discuss on it.</p>
                <ul class="contact-social">
                    <li>
                        <a href="https://facebook.com/socialconclave"><i class="fab fa-facebook-f"
                                aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/social_conclave"><i class="fab fa-twitter"
                                aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="https://instagram.com/socialconclave"><i class="fab fa-instagram"
                                aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/socialconclave/"><i class="fab fa-linkedin-in"
                                aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-three tab-full right footer-desc">
                <div class="footer-log"></div>
                <h4>Links</h4>
                <ul>
                    <li><a class="smoothscroll" href="https://www.socialconclave.com/">Home</a></li>
                    <li><a href="{% url 'core:overTheYears' %}">Our Team</a></li>
                    <li><a href="{% url 'core:agendas' %}" title="agendas">Agendas</a></li>
                    <li><a href="{% url 'blogs:allblog' %}">Blogs</a></li>
                    <li><a href="https://www.socialconclave.com/#contact">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-five tab-full right footer-subscribe">
                <h4>Have any questions?</h4>
                <div class="cinfo-footer">
                    <h5>POORVA CHADHA</h5>
                    <p>
                        <a href="tel:+918828467640">+91-8828467640</a><br>
                        <a href="mailto:spoorvachadha.nmims@gmail.com">poorvachadha.nmims@gmail.com</a>
                    </p>
                </div>
                <div class="cinfo-footer">
                    <h5>SUNANDAN DASGUPTA</h5>
                    <p>
                        <a href="tel:+919820934218">+91-9820934218</a><br>
                        <a href="mailto:sunandandasgupta.nmims@gmail.com">sunandandasgupta.nmims@gmail.com</a>
                    </p>
                </div>
            </div>
        </div>
        <div class=" row footer-bottom">
            <div class="col-twelve">
                <div class="go-top">
                    <a class="smoothscroll" title="Back to Top" href="#top">
                        <i class="icon-arrow-up" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <!-- /Footer -->


    <!--Preloader-->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title="Share"></button> <button class="pswp__button pswp__button--fs
                               " title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="preloader">
        <div id="loader">
            <div class="scpreloader"><img src="{% static 'images/sclogo.png' %}" style="width:200px;"></div>
        </div>
    </div>
    <!--Preloader-->

    <script src="{% static 'js/5597-js-jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/9959-js-plugins.js' %}"></script>
    <script src="{% static 'js/320-js-main.js' %}"></script>
    <script src="{% static 'js/nav.js' %}"></script>

    <!-- External Libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.0.5/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/110/three.min.js" integrity="sha256-gSh8eotzb/CVvCREGPUNgIWuDnTYnZvVOQnRrP1eDjI=" crossorigin="anonymous"></script>
    <script src="{% static 'js/earth.js' %}"></script>

    <script>
        f = 1;
        $(".topic").click(function(e) {
            e.preventDefault();
            g = '#' + $(this).data('rel');
            $('.agendasDscps .agendaDscp').fadeOut('fast');
            $('#' + $(this).data('rel')).fadeIn('slow');
        });

        if ($(window).width() < 767) {
            document.querySelector('.agendas-content').style.display = 'none';
        } else {
            document.querySelector('.section-agenda').style.display = 'none';
        }
    </script>
</body>

</html>