@media only screen and (max-width: 767px) {
    .header-logo {
        top: 4.8rem;
        left: 2.57rem;
    }
}

body {
    background: #F5F5F5 url("../images/background1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    font-family: 'Montserrat', sans-serif;
}

.container {
    padding: 0 0 6rem 0;
}

.s-form {
    border: 2px solid gray;
    background: #F5F5F5;
    margin-top: 16rem;
}

@media only screen and (max-width: 768px) {
    .s-form {
        margin-top: 9rem;
    }
}

#top {
    background-color: #2f89fc;
    color: #fff;
    padding: 4em;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#top h1 {
    font-size: 4rem;
}

.form-content {
    padding: 5em 12%;
}

.form-check-input {
    margin-top: .44rem !important;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
    font-size: 2rem;
}

textarea {
    font-size: 2rem !important;
    line-height: 2.5 !important;
    max-height: 9rem !important;
    margin-top: 3rem !important;
}

input,
textarea {
    text-indent: 1rem;
}

input::placeholder,
input::-moz-placeholder,
input:-moz-placeholder,
input::-webkit-input-placeholder,
input:-ms-input-placeholder {
    font-size: 1.4rem !important;
}

.form-group label {
    font-size: 2rem !important;
    margin-top: 2rem;
    font-weight: 400;
}

.form-check label {
    margin-top: 0;
    font-size: 1.7rem !important;
    line-height: 1.5 !important;
    margin-left: 1rem !important;
    font-weight: normal !important;
}

.formButtonDiv {
    width: 220px;
    margin-top: 6rem;
}

.btn.btn-primary {
    margin: 0 auto;
    width: 100%;
}

footer {
    background-color: #000;
}